%html
  %head
    %title Hello world
    %meta(name="description" content="Node benchmark")
  %body
    %nav.navbar
      %ul.nav.left
        %li Home
        %li About
        %li Contact
    #content
      .container
        .row
          .col-md-12
            | Hello world, this is a dummy text used for the speed benchmark in Opulent
    %footer
      | Copyright &copy; Hello world!
