.btn {
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;
}

.text-aqua {
  color: #7fdfff;
}

.btn-aqua {
  background: #7fdfff;
  color: #000000;
}

.btn-aqua:hover, .btn-aqua:focus, .btn-aqua:active {
  background: #66d9ff;
  color: #000000;
}

.aqua {
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;
  background: #7fdfff;
}

.hover-aqua:hover {
  background: #7fdfff;
}

.text-blue {
  color: #0074d9;
}

.btn-blue {
  background: #0074d9;
  color: #ffffff;
}

.btn-blue:hover, .btn-blue:focus, .btn-blue:active {
  background: #0066c0;
  color: #ffffff;
}

.blue {
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;
  background: #0074d9;
}

.hover-blue:hover {
  background: #0074d9;
}

.text-navy {
  color: #001f3f;
}

.btn-navy {
  background: #001f3f;
  color: #ffffff;
}

.btn-navy:hover, .btn-navy:focus, .btn-navy:active {
  background: #001226;
  color: #ffffff;
}

.navy {
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;
  background: #001f3f;
}

.hover-navy:hover {
  background: #001f3f;
}

.text-teal {
  color: #39cccc;
}

.btn-teal {
  background: #39cccc;
  color: #ffffff;
}

.btn-teal:hover, .btn-teal:focus, .btn-teal:active {
  background: #30bbbb;
  color: #ffffff;
}

.teal {
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;
  background: #39cccc;
}

.hover-teal:hover {
  background: #39cccc;
}

.text-green {
  color: #2ecc40;
}

.btn-green {
  background: #2ecc40;
  color: #ffffff;
}

.btn-green:hover, .btn-green:focus, .btn-green:active {
  background: #29b739;
  color: #ffffff;
}

.green {
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;
  background: #2ecc40;
}

.hover-green:hover {
  background: #2ecc40;
}

.text-olive {
  color: #3d9970;
}

.btn-olive {
  background: #3d9970;
  color: #ffffff;
}

.btn-olive:hover, .btn-olive:focus, .btn-olive:active {
  background: #368763;
  color: #ffffff;
}

.olive {
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;
  background: #3d9970;
}

.hover-olive:hover {
  background: #3d9970;
}

.text-lime {
  color: #01ff70;
}

.btn-lime {
  background: #01ff70;
  color: #ffffff;
}

.btn-lime:hover, .btn-lime:focus, .btn-lime:active {
  background: #00e765;
  color: #ffffff;
}

.lime {
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;
  background: #01ff70;
}

.hover-lime:hover {
  background: #01ff70;
}

.text-yellow {
  color: #ffdc00;
}

.btn-yellow {
  background: #ffdc00;
  color: #ffffff;
}

.btn-yellow:hover, .btn-yellow:focus, .btn-yellow:active {
  background: #e6c600;
  color: #ffffff;
}

.yellow {
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;
  background: #ffdc00;
}

.hover-yellow:hover {
  background: #ffdc00;
}

.text-orange {
  color: #ff851b;
}

.btn-orange {
  background: #ff851b;
  color: #ffffff;
}

.btn-orange:hover, .btn-orange:focus, .btn-orange:active {
  background: #ff7702;
  color: #ffffff;
}

.orange {
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;
  background: #ff851b;
}

.hover-orange:hover {
  background: #ff851b;
}

.text-red {
  color: #ff4136;
}

.btn-red {
  background: #ff4136;
  color: #ffffff;
}

.btn-red:hover, .btn-red:focus, .btn-red:active {
  background: #ff291d;
  color: #ffffff;
}

.red {
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;
  background: #ff4136;
}

.hover-red:hover {
  background: #ff4136;
}

.text-fuchsia {
  color: #f012be;
}

.btn-fuchsia {
  background: #f012be;
  color: #ffffff;
}

.btn-fuchsia:hover, .btn-fuchsia:focus, .btn-fuchsia:active {
  background: #db0ead;
  color: #ffffff;
}

.fuchsia {
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;
  background: #f012be;
}

.hover-fuchsia:hover {
  background: #f012be;
}

.text-purple {
  color: #b10dc9;
}

.btn-purple {
  background: #b10dc9;
  color: #ffffff;
}

.btn-purple:hover, .btn-purple:focus, .btn-purple:active {
  background: #9c0bb1;
  color: #ffffff;
}

.purple {
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;
  background: #b10dc9;
}

.hover-purple:hover {
  background: #b10dc9;
}

.text-maroon {
  color: #85144b;
}

.btn-maroon {
  background: #85144b;
  color: #ffffff;
}

.btn-maroon:hover, .btn-maroon:focus, .btn-maroon:active {
  background: #6f113f;
  color: #ffffff;
}

.maroon {
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;
  background: #85144b;
}

.hover-maroon:hover {
  background: #85144b;
}

.text-white {
  color: #fff;
}

.btn-white {
  background: #fff;
  color: #000000;
}

.btn-white:hover, .btn-white:focus, .btn-white:active {
  background: #f2f2f2;
  color: #000000;
}

.white {
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;
  background: #fff;
}

.hover-white:hover {
  background: #fff;
}

.text-silver {
  color: #f2f2f2;
}

.btn-silver {
  background: #f2f2f2;
  color: #000000;
}

.btn-silver:hover, .btn-silver:focus, .btn-silver:active {
  background: #e5e5e5;
  color: #000000;
}

.silver {
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;
  background: #f2f2f2;
}

.hover-silver:hover {
  background: #f2f2f2;
}

.text-darksilver {
  color: #e3e3e3;
}

.btn-darksilver {
  background: #e3e3e3;
  color: #000000;
}

.btn-darksilver:hover, .btn-darksilver:focus, .btn-darksilver:active {
  background: #d6d6d6;
  color: #000000;
}

.darksilver {
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;
  background: #e3e3e3;
}

.hover-darksilver:hover {
  background: #e3e3e3;
}

.text-gray {
  color: #aaa;
}

.btn-gray {
  background: #aaa;
  color: #ffffff;
}

.btn-gray:hover, .btn-gray:focus, .btn-gray:active {
  background: #9d9d9d;
  color: #ffffff;
}

.gray {
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;
  background: #aaa;
}

.hover-gray:hover {
  background: #aaa;
}

.text-lightgray {
  color: #ccc;
}

.btn-lightgray {
  background: #ccc;
  color: #000000;
}

.btn-lightgray:hover, .btn-lightgray:focus, .btn-lightgray:active {
  background: #bfbfbf;
  color: #000000;
}

.lightgray {
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;
  background: #ccc;
}

.hover-lightgray:hover {
  background: #ccc;
}

.text-concrete {
  color: #333;
}

.btn-concrete {
  background: #333;
  color: #ffffff;
}

.btn-concrete:hover, .btn-concrete:focus, .btn-concrete:active {
  background: #262626;
  color: #ffffff;
}

.concrete {
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;
  background: #333;
}

.hover-concrete:hover {
  background: #333;
}

.text-black {
  color: #111;
}

.btn-black {
  background: #111;
  color: #ffffff;
}

.btn-black:hover, .btn-black:focus, .btn-black:active {
  background: #040404;
  color: #ffffff;
}

.black {
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;
  background: #111;
}

.hover-black:hover {
  background: #111;
}

.text-primary {
  color: #E32546;
}

.primary {
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;
  background: #E32546;
}

.hover-primary:hover {
  background: #E32546;
}

.text-secondary {
  color: #555;
}

.btn-secondary {
  background: #555;
  color: #ffffff;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  background: #484848;
  color: #ffffff;
}

.secondary {
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;
  background: #555;
}

.hover-secondary:hover {
  background: #555;
}

.text-ternary {
  color: #333;
}

.btn-ternary {
  background: #333;
  color: #ffffff;
}

.btn-ternary:hover, .btn-ternary:focus, .btn-ternary:active {
  background: #262626;
  color: #ffffff;
}

.ternary {
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;
  background: #333;
}

.hover-ternary:hover {
  background: #333;
}

.btn-black-transparent {
  background: rgba(0, 0, 0, 0.45);
  color: #fff;
}

.btn-black-transparent:hover, .btn-black-transparent:focus, .btn-black-transparent:active {
  color: #fff;
  background: rgba(0, 0, 0, 0.55);
}

.full-width {
  width: 100% !important;
  box-sizing: border-box;
}

img.full-width {
  height: auto;
}

.max-full-width {
  max-width: 100% !important;
  box-sizing: border-box;
}

.full-height {
  height: 100% !important;
  box-sizing: border-box;
}

img.full-height {
  width: auto;
}

.max-full-height {
  max-height: 100% !important;
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.margin-reset {
  margin: 0 !important;
}

.padding-reset {
  padding: 0 !important;
}

.text-aqua {
  color: #7fdfff;
}

.btn-aqua {
  background: #7fdfff;
  color: #000000;
}

.btn-aqua:hover, .btn-aqua:focus, .btn-aqua:active {
  background: #66d9ff;
  color: #000000;
}

.aqua {
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;
  background: #7fdfff;
}

.hover-aqua:hover {
  background: #7fdfff;
}

.text-blue {
  color: #0074d9;
}

.btn-blue {
  background: #0074d9;
  color: #ffffff;
}

.btn-blue:hover, .btn-blue:focus, .btn-blue:active {
  background: #0066c0;
  color: #ffffff;
}

.blue {
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;
  background: #0074d9;
}

.hover-blue:hover {
  background: #0074d9;
}

.text-navy {
  color: #001f3f;
}

.btn-navy {
  background: #001f3f;
  color: #ffffff;
}

.btn-navy:hover, .btn-navy:focus, .btn-navy:active {
  background: #001226;
  color: #ffffff;
}

.navy {
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;
  background: #001f3f;
}

.hover-navy:hover {
  background: #001f3f;
}

.text-teal {
  color: #39cccc;
}

.btn-teal {
  background: #39cccc;
  color: #ffffff;
}

.btn-teal:hover, .btn-teal:focus, .btn-teal:active {
  background: #30bbbb;
  color: #ffffff;
}

.teal {
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;
  background: #39cccc;
}

.hover-teal:hover {
  background: #39cccc;
}

.text-green {
  color: #2ecc40;
}

.btn-green {
  background: #2ecc40;
  color: #ffffff;
}

.btn-green:hover, .btn-green:focus, .btn-green:active {
  background: #29b739;
  color: #ffffff;
}

.green {
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;
  background: #2ecc40;
}

.hover-green:hover {
  background: #2ecc40;
}

.text-olive {
  color: #3d9970;
}

.btn-olive {
  background: #3d9970;
  color: #ffffff;
}

.btn-olive:hover, .btn-olive:focus, .btn-olive:active {
  background: #368763;
  color: #ffffff;
}

.olive {
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;
  background: #3d9970;
}

.hover-olive:hover {
  background: #3d9970;
}

.text-lime {
  color: #01ff70;
}

.btn-lime {
  background: #01ff70;
  color: #ffffff;
}

.btn-lime:hover, .btn-lime:focus, .btn-lime:active {
  background: #00e765;
  color: #ffffff;
}

.lime {
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;
  background: #01ff70;
}

.hover-lime:hover {
  background: #01ff70;
}

.text-yellow {
  color: #ffdc00;
}

.btn-yellow {
  background: #ffdc00;
  color: #ffffff;
}

.btn-yellow:hover, .btn-yellow:focus, .btn-yellow:active {
  background: #e6c600;
  color: #ffffff;
}

.yellow {
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;
  background: #ffdc00;
}

.hover-yellow:hover {
  background: #ffdc00;
}

.text-orange {
  color: #ff851b;
}

.btn-orange {
  background: #ff851b;
  color: #ffffff;
}

.btn-orange:hover, .btn-orange:focus, .btn-orange:active {
  background: #ff7702;
  color: #ffffff;
}

.orange {
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;
  background: #ff851b;
}

.hover-orange:hover {
  background: #ff851b;
}

.text-red {
  color: #ff4136;
}

.btn-red {
  background: #ff4136;
  color: #ffffff;
}

.btn-red:hover, .btn-red:focus, .btn-red:active {
  background: #ff291d;
  color: #ffffff;
}

.red {
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;
  background: #ff4136;
}

.hover-red:hover {
  background: #ff4136;
}

.text-fuchsia {
  color: #f012be;
}

.btn-fuchsia {
  background: #f012be;
  color: #ffffff;
}

.btn-fuchsia:hover, .btn-fuchsia:focus, .btn-fuchsia:active {
  background: #db0ead;
  color: #ffffff;
}

.fuchsia {
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;
  background: #f012be;
}

.hover-fuchsia:hover {
  background: #f012be;
}

.text-purple {
  color: #b10dc9;
}

.btn-purple {
  background: #b10dc9;
  color: #ffffff;
}

.btn-purple:hover, .btn-purple:focus, .btn-purple:active {
  background: #9c0bb1;
  color: #ffffff;
}

.purple {
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;
  background: #b10dc9;
}

.hover-purple:hover {
  background: #b10dc9;
}

.text-maroon {
  color: #85144b;
}

.btn-maroon {
  background: #85144b;
  color: #ffffff;
}

.btn-maroon:hover, .btn-maroon:focus, .btn-maroon:active {
  background: #6f113f;
  color: #ffffff;
}

.maroon {
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;
  background: #85144b;
}

.hover-maroon:hover {
  background: #85144b;
}

.text-white {
  color: #fff;
}

.btn-white {
  background: #fff;
  color: #000000;
}

.btn-white:hover, .btn-white:focus, .btn-white:active {
  background: #f2f2f2;
  color: #000000;
}

.white {
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;
  background: #fff;
}

.hover-white:hover {
  background: #fff;
}

.text-silver {
  color: #f2f2f2;
}

.btn-silver {
  background: #f2f2f2;
  color: #000000;
}

.btn-silver:hover, .btn-silver:focus, .btn-silver:active {
  background: #e5e5e5;
  color: #000000;
}

.silver {
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;
  background: #f2f2f2;
}

.hover-silver:hover {
  background: #f2f2f2;
}

.text-darksilver {
  color: #e3e3e3;
}

.btn-darksilver {
  background: #e3e3e3;
  color: #000000;
}

.btn-darksilver:hover, .btn-darksilver:focus, .btn-darksilver:active {
  background: #d6d6d6;
  color: #000000;
}

.darksilver {
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;
  background: #e3e3e3;
}

.hover-darksilver:hover {
  background: #e3e3e3;
}

.text-gray {
  color: #aaa;
}

.btn-gray {
  background: #aaa;
  color: #ffffff;
}

.btn-gray:hover, .btn-gray:focus, .btn-gray:active {
  background: #9d9d9d;
  color: #ffffff;
}

.gray {
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;
  background: #aaa;
}

.hover-gray:hover {
  background: #aaa;
}

.text-lightgray {
  color: #ccc;
}

.btn-lightgray {
  background: #ccc;
  color: #000000;
}

.btn-lightgray:hover, .btn-lightgray:focus, .btn-lightgray:active {
  background: #bfbfbf;
  color: #000000;
}

.lightgray {
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;
  background: #ccc;
}

.hover-lightgray:hover {
  background: #ccc;
}

.text-concrete {
  color: #333;
}

.btn-concrete {
  background: #333;
  color: #ffffff;
}

.btn-concrete:hover, .btn-concrete:focus, .btn-concrete:active {
  background: #262626;
  color: #ffffff;
}

.concrete {
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;
  background: #333;
}

.hover-concrete:hover {
  background: #333;
}

.text-black {
  color: #111;
}

.btn-black {
  background: #111;
  color: #ffffff;
}

.btn-black:hover, .btn-black:focus, .btn-black:active {
  background: #040404;
  color: #ffffff;
}

.black {
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;
  background: #111;
}

.hover-black:hover {
  background: #111;
}

.text-primary {
  color: #E32546;
}

.primary {
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;
  background: #E32546;
}

.hover-primary:hover {
  background: #E32546;
}

.text-secondary {
  color: #555;
}

.btn-secondary {
  background: #555;
  color: #ffffff;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  background: #484848;
  color: #ffffff;
}

.secondary {
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;
  background: #555;
}

.hover-secondary:hover {
  background: #555;
}

.text-ternary {
  color: #333;
}

.btn-ternary {
  background: #333;
  color: #ffffff;
}

.btn-ternary:hover, .btn-ternary:focus, .btn-ternary:active {
  background: #262626;
  color: #ffffff;
}

.ternary {
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;
  background: #333;
}

.hover-ternary:hover {
  background: #333;
}

.btn-black-transparent {
  background: rgba(0, 0, 0, 0.45);
  color: #fff;
}

.btn-black-transparent:hover, .btn-black-transparent:focus, .btn-black-transparent:active {
  color: #fff;
  background: rgba(0, 0, 0, 0.55);
}

/*# sourceMappingURL=../../src/maps/rock-slider/ui/colors.css.map */
