.font-black {
  font-weight: 900;
}

.font-bold {
  font-weight: bold;
}

.font-normal {
  font-weight: normal;
}

.font-light {
  font-weight: 300;
}

.font-thin {
  font-weight: 100;
}

.font-italic {
  font-style: italic;
}

.btn {
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;
}

.text-aqua {
  color: #7fdfff;
}

.btn-aqua {
  background: #7fdfff;
  color: #000000;
}

.btn-aqua:hover, .btn-aqua:focus, .btn-aqua:active {
  background: #66d9ff;
  color: #000000;
}

.aqua {
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;
  background: #7fdfff;
}

.hover-aqua:hover {
  background: #7fdfff;
}

.text-blue {
  color: #0074d9;
}

.btn-blue {
  background: #0074d9;
  color: #ffffff;
}

.btn-blue:hover, .btn-blue:focus, .btn-blue:active {
  background: #0066c0;
  color: #ffffff;
}

.blue {
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;
  background: #0074d9;
}

.hover-blue:hover {
  background: #0074d9;
}

.text-navy {
  color: #001f3f;
}

.btn-navy {
  background: #001f3f;
  color: #ffffff;
}

.btn-navy:hover, .btn-navy:focus, .btn-navy:active {
  background: #001226;
  color: #ffffff;
}

.navy {
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;
  background: #001f3f;
}

.hover-navy:hover {
  background: #001f3f;
}

.text-teal {
  color: #39cccc;
}

.btn-teal {
  background: #39cccc;
  color: #ffffff;
}

.btn-teal:hover, .btn-teal:focus, .btn-teal:active {
  background: #30bbbb;
  color: #ffffff;
}

.teal {
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;
  background: #39cccc;
}

.hover-teal:hover {
  background: #39cccc;
}

.text-green {
  color: #2ecc40;
}

.btn-green {
  background: #2ecc40;
  color: #ffffff;
}

.btn-green:hover, .btn-green:focus, .btn-green:active {
  background: #29b739;
  color: #ffffff;
}

.green {
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;
  background: #2ecc40;
}

.hover-green:hover {
  background: #2ecc40;
}

.text-olive {
  color: #3d9970;
}

.btn-olive {
  background: #3d9970;
  color: #ffffff;
}

.btn-olive:hover, .btn-olive:focus, .btn-olive:active {
  background: #368763;
  color: #ffffff;
}

.olive {
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;
  background: #3d9970;
}

.hover-olive:hover {
  background: #3d9970;
}

.text-lime {
  color: #01ff70;
}

.btn-lime {
  background: #01ff70;
  color: #ffffff;
}

.btn-lime:hover, .btn-lime:focus, .btn-lime:active {
  background: #00e765;
  color: #ffffff;
}

.lime {
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;
  background: #01ff70;
}

.hover-lime:hover {
  background: #01ff70;
}

.text-yellow {
  color: #ffdc00;
}

.btn-yellow {
  background: #ffdc00;
  color: #ffffff;
}

.btn-yellow:hover, .btn-yellow:focus, .btn-yellow:active {
  background: #e6c600;
  color: #ffffff;
}

.yellow {
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;
  background: #ffdc00;
}

.hover-yellow:hover {
  background: #ffdc00;
}

.text-orange {
  color: #ff851b;
}

.btn-orange {
  background: #ff851b;
  color: #ffffff;
}

.btn-orange:hover, .btn-orange:focus, .btn-orange:active {
  background: #ff7702;
  color: #ffffff;
}

.orange {
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;
  background: #ff851b;
}

.hover-orange:hover {
  background: #ff851b;
}

.text-red {
  color: #ff4136;
}

.btn-red {
  background: #ff4136;
  color: #ffffff;
}

.btn-red:hover, .btn-red:focus, .btn-red:active {
  background: #ff291d;
  color: #ffffff;
}

.red {
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;
  background: #ff4136;
}

.hover-red:hover {
  background: #ff4136;
}

.text-fuchsia {
  color: #f012be;
}

.btn-fuchsia {
  background: #f012be;
  color: #ffffff;
}

.btn-fuchsia:hover, .btn-fuchsia:focus, .btn-fuchsia:active {
  background: #db0ead;
  color: #ffffff;
}

.fuchsia {
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;
  background: #f012be;
}

.hover-fuchsia:hover {
  background: #f012be;
}

.text-purple {
  color: #b10dc9;
}

.btn-purple {
  background: #b10dc9;
  color: #ffffff;
}

.btn-purple:hover, .btn-purple:focus, .btn-purple:active {
  background: #9c0bb1;
  color: #ffffff;
}

.purple {
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;
  background: #b10dc9;
}

.hover-purple:hover {
  background: #b10dc9;
}

.text-maroon {
  color: #85144b;
}

.btn-maroon {
  background: #85144b;
  color: #ffffff;
}

.btn-maroon:hover, .btn-maroon:focus, .btn-maroon:active {
  background: #6f113f;
  color: #ffffff;
}

.maroon {
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;
  background: #85144b;
}

.hover-maroon:hover {
  background: #85144b;
}

.text-white {
  color: #fff;
}

.btn-white {
  background: #fff;
  color: #000000;
}

.btn-white:hover, .btn-white:focus, .btn-white:active {
  background: #f2f2f2;
  color: #000000;
}

.white {
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;
  background: #fff;
}

.hover-white:hover {
  background: #fff;
}

.text-silver {
  color: #f2f2f2;
}

.btn-silver {
  background: #f2f2f2;
  color: #000000;
}

.btn-silver:hover, .btn-silver:focus, .btn-silver:active {
  background: #e5e5e5;
  color: #000000;
}

.silver {
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;
  background: #f2f2f2;
}

.hover-silver:hover {
  background: #f2f2f2;
}

.text-darksilver {
  color: #e3e3e3;
}

.btn-darksilver {
  background: #e3e3e3;
  color: #000000;
}

.btn-darksilver:hover, .btn-darksilver:focus, .btn-darksilver:active {
  background: #d6d6d6;
  color: #000000;
}

.darksilver {
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;
  background: #e3e3e3;
}

.hover-darksilver:hover {
  background: #e3e3e3;
}

.text-gray {
  color: #aaa;
}

.btn-gray {
  background: #aaa;
  color: #ffffff;
}

.btn-gray:hover, .btn-gray:focus, .btn-gray:active {
  background: #9d9d9d;
  color: #ffffff;
}

.gray {
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;
  background: #aaa;
}

.hover-gray:hover {
  background: #aaa;
}

.text-lightgray {
  color: #ccc;
}

.btn-lightgray {
  background: #ccc;
  color: #000000;
}

.btn-lightgray:hover, .btn-lightgray:focus, .btn-lightgray:active {
  background: #bfbfbf;
  color: #000000;
}

.lightgray {
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;
  background: #ccc;
}

.hover-lightgray:hover {
  background: #ccc;
}

.text-concrete {
  color: #333;
}

.btn-concrete {
  background: #333;
  color: #ffffff;
}

.btn-concrete:hover, .btn-concrete:focus, .btn-concrete:active {
  background: #262626;
  color: #ffffff;
}

.concrete {
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;
  background: #333;
}

.hover-concrete:hover {
  background: #333;
}

.text-black {
  color: #111;
}

.btn-black {
  background: #111;
  color: #ffffff;
}

.btn-black:hover, .btn-black:focus, .btn-black:active {
  background: #040404;
  color: #ffffff;
}

.black {
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;
  background: #111;
}

.hover-black:hover {
  background: #111;
}

.text-primary {
  color: #E32546;
}

.primary {
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;
  background: #E32546;
}

.hover-primary:hover {
  background: #E32546;
}

.text-secondary {
  color: #555;
}

.btn-secondary {
  background: #555;
  color: #ffffff;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  background: #484848;
  color: #ffffff;
}

.secondary {
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;
  background: #555;
}

.hover-secondary:hover {
  background: #555;
}

.text-ternary {
  color: #333;
}

.btn-ternary {
  background: #333;
  color: #ffffff;
}

.btn-ternary:hover, .btn-ternary:focus, .btn-ternary:active {
  background: #262626;
  color: #ffffff;
}

.ternary {
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;
  background: #333;
}

.hover-ternary:hover {
  background: #333;
}

.btn-black-transparent {
  background: rgba(0, 0, 0, 0.45);
  color: #fff;
}

.btn-black-transparent:hover, .btn-black-transparent:focus, .btn-black-transparent:active {
  color: #fff;
  background: rgba(0, 0, 0, 0.55);
}

.full-width {
  width: 100% !important;
  box-sizing: border-box;
}

img.full-width {
  height: auto;
}

.max-full-width {
  max-width: 100% !important;
  box-sizing: border-box;
}

.full-height {
  height: 100% !important;
  box-sizing: border-box;
}

img.full-height {
  width: auto;
}

.max-full-height {
  max-height: 100% !important;
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.margin-reset {
  margin: 0 !important;
}

.padding-reset {
  padding: 0 !important;
}

.spacer {
  position: relative;
  width: 100%;
  height: 40px;
  display: block;
}

.margin-top-thin {
  margin-top: 5px;
}

.margin-1x {
  margin: 20px;
}

.margin-vertical-1x {
  margin-top: 20px;
  margin-bottom: 20px;
}

.margin-top-1x {
  margin-top: 20px;
}

.margin-bottom-1x {
  margin-bottom: 20px;
}

.margin-horizontal-1x {
  margin-left: 20px;
  margin-right: 20px;
}

.margin-left-1x {
  margin-left: 20px;
}

.margin-right-1x {
  margin-right: 20px;
}

.padding-1x {
  padding: 20px;
}

.padding-vertical-1x {
  padding-top: 20px;
  padding-bottom: 20px;
}

.padding-top-1x {
  padding-top: 20px;
}

.padding-bottom-1x {
  padding-bottom: 20px;
}

.padding-horizontal-1x {
  padding-left: 20px;
  padding-right: 20px;
}

.padding-left-1x {
  padding-left: 20px;
}

.padding-right-1x {
  padding-right: 20px;
}

.margin-2x {
  margin: 40px;
}

.margin-vertical-2x {
  margin-top: 40px;
  margin-bottom: 40px;
}

.margin-top-2x {
  margin-top: 40px;
}

.margin-bottom-2x {
  margin-bottom: 40px;
}

.margin-horizontal-2x {
  margin-left: 40px;
  margin-right: 40px;
}

.margin-left-2x {
  margin-left: 40px;
}

.margin-right-2x {
  margin-right: 40px;
}

.padding-2x {
  padding: 40px;
}

.padding-vertical-2x {
  padding-top: 40px;
  padding-bottom: 40px;
}

.padding-top-2x {
  padding-top: 40px;
}

.padding-bottom-2x {
  padding-bottom: 40px;
}

.padding-horizontal-2x {
  padding-left: 40px;
  padding-right: 40px;
}

.padding-left-2x {
  padding-left: 40px;
}

.padding-right-2x {
  padding-right: 40px;
}

.margin-3x {
  margin: 60px;
}

.margin-vertical-3x {
  margin-top: 60px;
  margin-bottom: 60px;
}

.margin-top-3x {
  margin-top: 60px;
}

.margin-bottom-3x {
  margin-bottom: 60px;
}

.margin-horizontal-3x {
  margin-left: 60px;
  margin-right: 60px;
}

.margin-left-3x {
  margin-left: 60px;
}

.margin-right-3x {
  margin-right: 60px;
}

.padding-3x {
  padding: 60px;
}

.padding-vertical-3x {
  padding-top: 60px;
  padding-bottom: 60px;
}

.padding-top-3x {
  padding-top: 60px;
}

.padding-bottom-3x {
  padding-bottom: 60px;
}

.padding-horizontal-3x {
  padding-left: 60px;
  padding-right: 60px;
}

.padding-left-3x {
  padding-left: 60px;
}

.padding-right-3x {
  padding-right: 60px;
}

.margin-4x {
  margin: 80px;
}

.margin-vertical-4x {
  margin-top: 80px;
  margin-bottom: 80px;
}

.margin-top-4x {
  margin-top: 80px;
}

.margin-bottom-4x {
  margin-bottom: 80px;
}

.margin-horizontal-4x {
  margin-left: 80px;
  margin-right: 80px;
}

.margin-left-4x {
  margin-left: 80px;
}

.margin-right-4x {
  margin-right: 80px;
}

.padding-4x {
  padding: 80px;
}

.padding-vertical-4x {
  padding-top: 80px;
  padding-bottom: 80px;
}

.padding-top-4x {
  padding-top: 80px;
}

.padding-bottom-4x {
  padding-bottom: 80px;
}

.padding-horizontal-4x {
  padding-left: 80px;
  padding-right: 80px;
}

.padding-left-4x {
  padding-left: 80px;
}

.padding-right-4x {
  padding-right: 80px;
}

.margin-5x {
  margin: 100px;
}

.margin-vertical-5x {
  margin-top: 100px;
  margin-bottom: 100px;
}

.margin-top-5x {
  margin-top: 100px;
}

.margin-bottom-5x {
  margin-bottom: 100px;
}

.margin-horizontal-5x {
  margin-left: 100px;
  margin-right: 100px;
}

.margin-left-5x {
  margin-left: 100px;
}

.margin-right-5x {
  margin-right: 100px;
}

.padding-5x {
  padding: 100px;
}

.padding-vertical-5x {
  padding-top: 100px;
  padding-bottom: 100px;
}

.padding-top-5x {
  padding-top: 100px;
}

.padding-bottom-5x {
  padding-bottom: 100px;
}

.padding-horizontal-5x {
  padding-left: 100px;
  padding-right: 100px;
}

.padding-left-5x {
  padding-left: 100px;
}

.padding-right-5x {
  padding-right: 100px;
}

.margin-6x {
  margin: 120px;
}

.margin-vertical-6x {
  margin-top: 120px;
  margin-bottom: 120px;
}

.margin-top-6x {
  margin-top: 120px;
}

.margin-bottom-6x {
  margin-bottom: 120px;
}

.margin-horizontal-6x {
  margin-left: 120px;
  margin-right: 120px;
}

.margin-left-6x {
  margin-left: 120px;
}

.margin-right-6x {
  margin-right: 120px;
}

.padding-6x {
  padding: 120px;
}

.padding-vertical-6x {
  padding-top: 120px;
  padding-bottom: 120px;
}

.padding-top-6x {
  padding-top: 120px;
}

.padding-bottom-6x {
  padding-bottom: 120px;
}

.padding-horizontal-6x {
  padding-left: 120px;
  padding-right: 120px;
}

.padding-left-6x {
  padding-left: 120px;
}

.padding-right-6x {
  padding-right: 120px;
}

.margin-7x {
  margin: 140px;
}

.margin-vertical-7x {
  margin-top: 140px;
  margin-bottom: 140px;
}

.margin-top-7x {
  margin-top: 140px;
}

.margin-bottom-7x {
  margin-bottom: 140px;
}

.margin-horizontal-7x {
  margin-left: 140px;
  margin-right: 140px;
}

.margin-left-7x {
  margin-left: 140px;
}

.margin-right-7x {
  margin-right: 140px;
}

.padding-7x {
  padding: 140px;
}

.padding-vertical-7x {
  padding-top: 140px;
  padding-bottom: 140px;
}

.padding-top-7x {
  padding-top: 140px;
}

.padding-bottom-7x {
  padding-bottom: 140px;
}

.padding-horizontal-7x {
  padding-left: 140px;
  padding-right: 140px;
}

.padding-left-7x {
  padding-left: 140px;
}

.padding-right-7x {
  padding-right: 140px;
}

.margin-8x {
  margin: 160px;
}

.margin-vertical-8x {
  margin-top: 160px;
  margin-bottom: 160px;
}

.margin-top-8x {
  margin-top: 160px;
}

.margin-bottom-8x {
  margin-bottom: 160px;
}

.margin-horizontal-8x {
  margin-left: 160px;
  margin-right: 160px;
}

.margin-left-8x {
  margin-left: 160px;
}

.margin-right-8x {
  margin-right: 160px;
}

.padding-8x {
  padding: 160px;
}

.padding-vertical-8x {
  padding-top: 160px;
  padding-bottom: 160px;
}

.padding-top-8x {
  padding-top: 160px;
}

.padding-bottom-8x {
  padding-bottom: 160px;
}

.padding-horizontal-8x {
  padding-left: 160px;
  padding-right: 160px;
}

.padding-left-8x {
  padding-left: 160px;
}

.padding-right-8x {
  padding-right: 160px;
}

.margin-9x {
  margin: 180px;
}

.margin-vertical-9x {
  margin-top: 180px;
  margin-bottom: 180px;
}

.margin-top-9x {
  margin-top: 180px;
}

.margin-bottom-9x {
  margin-bottom: 180px;
}

.margin-horizontal-9x {
  margin-left: 180px;
  margin-right: 180px;
}

.margin-left-9x {
  margin-left: 180px;
}

.margin-right-9x {
  margin-right: 180px;
}

.padding-9x {
  padding: 180px;
}

.padding-vertical-9x {
  padding-top: 180px;
  padding-bottom: 180px;
}

.padding-top-9x {
  padding-top: 180px;
}

.padding-bottom-9x {
  padding-bottom: 180px;
}

.padding-horizontal-9x {
  padding-left: 180px;
  padding-right: 180px;
}

.padding-left-9x {
  padding-left: 180px;
}

.padding-right-9x {
  padding-right: 180px;
}

.margin-10x {
  margin: 200px;
}

.margin-vertical-10x {
  margin-top: 200px;
  margin-bottom: 200px;
}

.margin-top-10x {
  margin-top: 200px;
}

.margin-bottom-10x {
  margin-bottom: 200px;
}

.margin-horizontal-10x {
  margin-left: 200px;
  margin-right: 200px;
}

.margin-left-10x {
  margin-left: 200px;
}

.margin-right-10x {
  margin-right: 200px;
}

.padding-10x {
  padding: 200px;
}

.padding-vertical-10x {
  padding-top: 200px;
  padding-bottom: 200px;
}

.padding-top-10x {
  padding-top: 200px;
}

.padding-bottom-10x {
  padding-bottom: 200px;
}

.padding-horizontal-10x {
  padding-left: 200px;
  padding-right: 200px;
}

.padding-left-10x {
  padding-left: 200px;
}

.padding-right-10x {
  padding-right: 200px;
}

/* USAGE
 *<div class="row">
 *  <div class="row-height">
 *    <div class="col-xs-2 col-xs-height col-xs-middle">
 *      <div class="inside"></div>
 *    </div>
 *    <div class="col-xs-4 col-lg-5 col-xs-height col-xs-middle">
 *      <div class="inside"></div>
 *    </div>
 *  </div>
 *</div> */
/* content styles */
.inside-full-height {
  /*
   * if you want to give content full height give him height: 100%;
   * with content full height you can't apply margins to the content
   * content full height does not work in ie http: */
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.content {
  padding: 12px 3px;
}

/* columns of same height styles */
.row-height {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}

.col-height {
  display: table-cell;
  float: none;
  height: 100%;
}

.col-top {
  vertical-align: top;
}

.col-middle {
  vertical-align: middle;
}

.col-bottom {
  vertical-align: bottom;
}

@media (min-width: 480px) {
  .row-xs-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-xs-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-xs-top {
    vertical-align: top;
  }
  .col-xs-middle {
    vertical-align: middle;
  }
  .col-xs-bottom {
    vertical-align: bottom;
  }
}

@media (min-width: 768px) {
  .row-sm-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-sm-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-sm-top {
    vertical-align: top;
  }
  .col-sm-middle {
    vertical-align: middle;
  }
  .col-sm-bottom {
    vertical-align: bottom;
  }
}

@media (min-width: 992px) {
  .row-md-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-md-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-md-top {
    vertical-align: top;
  }
  .col-md-middle {
    vertical-align: middle;
  }
  .col-md-bottom {
    vertical-align: bottom;
  }
}

@media (min-width: 1200px) {
  .row-lg-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-lg-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-lg-top {
    vertical-align: top;
  }
  .col-lg-middle {
    vertical-align: middle;
  }
  .col-lg-bottom {
    vertical-align: bottom;
  }
}

#heading-0-dark {
  background: url("../../img/heading0dark.jpg") no-repeat center center fixed;
}

#heading-1 {
  background: url("../../img/heading1.jpg") no-repeat center center fixed;
}

@font-face {
  font-family: 'Lato';
  src: url("../../fonts/lato/Lato-LightItalic.eot");
  src: url("../../fonts/lato/Lato-LightItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/lato/Lato-LightItalic.woff") format("woff"), url("../../fonts/lato/Lato-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url("../../fonts/lato/Lato-Hairline.eot");
  src: url("../../fonts/lato/Lato-Hairline.eot?#iefix") format("embedded-opentype"), url("../../fonts/lato/Lato-Hairline.woff") format("woff"), url("../../fonts/lato/Lato-Hairline.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("../../fonts/lato/Lato-BlackItalic.eot");
  src: url("../../fonts/lato/Lato-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/lato/Lato-BlackItalic.woff") format("woff"), url("../../fonts/lato/Lato-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url("../../fonts/lato/Lato-BoldItalic.eot");
  src: url("../../fonts/lato/Lato-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/lato/Lato-BoldItalic.woff") format("woff"), url("../../fonts/lato/Lato-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url("../../fonts/lato/Lato-Italic.eot");
  src: url("../../fonts/lato/Lato-Italic.eot?#iefix") format("embedded-opentype"), url("../../fonts/lato/Lato-Italic.woff") format("woff"), url("../../fonts/lato/Lato-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url("../../fonts/lato/Lato-Light.eot");
  src: url("../../fonts/lato/Lato-Light.eot?#iefix") format("embedded-opentype"), url("../../fonts/lato/Lato-Light.woff") format("woff"), url("../../fonts/lato/Lato-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("../../fonts/lato/Lato-Black.eot");
  src: url("../../fonts/lato/Lato-Black.eot?#iefix") format("embedded-opentype"), url("../../fonts/lato/Lato-Black.woff") format("woff"), url("../../fonts/lato/Lato-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("../../fonts/lato/Lato-Regular.eot");
  src: url("../../fonts/lato/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/lato/Lato-Regular.woff") format("woff"), url("../../fonts/lato/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("../../fonts/lato/Lato-Bold.eot");
  src: url("../../fonts/lato/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/lato/Lato-Bold.woff") format("woff"), url("../../fonts/lato/Lato-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("../../fonts/lato/Lato-HairlineItalic.eot");
  src: url("../../fonts/lato/Lato-HairlineItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/lato/Lato-HairlineItalic.woff") format("woff"), url("../../fonts/lato/Lato-HairlineItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

body {
  font-weight: 300;
}

#wrapper {
  display: block;
  position: relative;
  margin: 15px;
  overflow: hidden;
}

.wrapper-overlay {
  left: 0;
  position: fixed;
  display: block;
  width: 100%;
  height: 15px;
  background: #fff;
  z-index: 999;
}

.wrapper-overlay.top {
  top: 0;
}

.wrapper-overlay.bottom {
  bottom: 0;
}

*[data-href] {
  cursor: pointer;
}

.container-wrapper {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.container-background {
  display: block;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}

.container-background img {
  display: block;
}

.container-background.left {
  left: 0;
}

.container-background.right {
  right: 0;
}

.container-background.half {
  width: 50%;
}

@media screen and (max-width: 767px) {
  .container-background.half.responsive {
    width: 100%;
  }
}

#handshake {
  max-width: 600px;
}

.btn-wide {
  padding-left: 32px;
  padding-right: 32px;
}

.navbar-brand-logo {
  height: 20px;
  margin-top: 3px;
  margin-right: 10px;
}

a {
  -webkit-transition: background 0.5s ease, color 0.5s ease;
          transition: background 0.5s ease, color 0.5s ease;
}

.square-hover {
  margin: 5px;
  padding: 5px;
  border: 1px dotted transparent;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.square-hover:hover {
  padding: 5px 10px;
  text-decoration: none;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.radial-silver-background {
  background: -webkit-radial-gradient(at top, #fff, #f2f2f2);
  background: radial-gradient(at top, #fff, #f2f2f2);
}

.radial-darksilver-background {
  background: -webkit-radial-gradient(at top, #f2f2f2, #e3e3e3);
  background: radial-gradient(at top, #f2f2f2, #e3e3e3);
}

.radial-concrete-background {
  background: -webkit-radial-gradient(top, #3b3b3b, #212121);
  background: radial-gradient(top, #3b3b3b, #212121);
}

.radial-black-background {
  background: -webkit-radial-gradient(top, #191919, black);
  background: radial-gradient(top, #191919, black);
}

.lightsilver {
  background: #fafafa;
}

.icon-facebook:hover {
  color: #3b5998;
}

.icon-twitter:hover {
  color: #55acee;
}

.icon-google-plus:hover {
  color: #dd4b39;
}

.icon-github:hover {
  color: #333333;
}

.icon-envato {
  position: relative;
}

.icon-envato i {
  -webkit-transition: color 0.3s ease;
          transition: color 0.3s ease;
}

.icon-envato .fa-leaf {
  position: absolute;
  left: 0;
  top: 10px;
}

.icon-envato .fa-square {
  color: #aaa;
}

.icon-envato .fa-leaf {
  font-size: 26px;
  color: #e3e3e3;
}

.icon-envato:hover .fa-square {
  color: #82b541;
}

.img-transparent {
  opacity: 0.3;
}

.copyright {
  font-size: 0.8em;
}

.cursor-default {
  cursor: default;
}

#browser .rock-control {
  opacity: 0.5;
}

#header {
  background: #E32546;
  background: -webkit-linear-gradient(top left, #E32546 0%, #3d9970 100%);
  background: linear-gradient(to bottom right, #E32546 0%, #3d9970 100%);
}

#landing-logo {
  margin: 0px auto 40px;
}

#benchmark-tooltip {
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

#benchmark-tooltip:hover {
  opacity: 0.6;
}

.tooltip-inner {
  max-width: 400px;
}

#browser {
  background: transparent !important;
}

#browser .rock-loader-wrapper {
  background: transparent !important;
}

.browser-window {
  background: #fff;
  max-width: 640px;
  position: relative;
  display: block;
  margin: 20px auto;
  border: 1px solid #f2f2f2;
  border-radius: 6px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 767px) {
  .browser-window {
    max-width: 100%;
  }
}

.browser-window .browser-navbar {
  padding: 20px;
  line-height: 0;
  background: #f2f2f2;
}

.browser-window .browser-navbar .browser-icon {
  width: 13px;
  height: 13px;
  display: inline-block;
  margin-right: 6px;
  border-radius: 100%;
}

.browser-window .browser-content {
  position: relative;
  display: block;
  padding: 20px 20px 20px 60px;
  font-family: monospace;
}

.browser-window .browser-content .browser-line, .browser-window .browser-content .browser-linenumber {
  height: 24px;
  display: block;
  cursor: default;
}

.browser-window .browser-content .browser-linenumbers {
  color: #aaa;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 40px;
  padding-top: 20px;
  padding-right: 10px;
  background: #fcfcfc;
  text-align: right;
}

.token-node {
  color: #ff4136;
}

.token-attribute {
  color: #ff851b;
}

.token-string {
  color: #333333;
}

.token-variable {
  color: #555;
}

.token-text {
  color: #6f6f6f;
}

.token-control {
  color: #85144b;
}

.token-comment {
  color: #aaa;
}

.token-yield {
  color: #0074d9;
}

.navbar {
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
  font-size: 0.8em;
  font-weight: 300;
  margin-left: 15px;
  margin-right: 15px;
}

.navbar.navbar-scroll {
  -webkit-transform: translate3d(0, 25px, 0);
          transform: translate3d(0, 25px, 0);
}

.navbar .navbar-nav > li > a {
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
  border-bottom: 1px solid transparent;
}

.navbar .navbar-nav > li > a:hover {
  border-bottom-color: #E32546;
}

.navbar .navbar-nav > li > a.active {
  font-weight: 600 !important;
}

.navbar li.has-btn {
  max-height: 100%;
}

.navbar li.has-btn .btn {
  margin-top: -7px;
  margin-bottom: -7px;
}

.navbar.navbar-fixed-top {
  margin-top: 15px;
}

@media screen and (max-width: 767px) {
  .navbar .nav {
    float: none !important;
  }
  .navbar .navbar-nav {
    background: rgba(25, 25, 25, 0.92);
  }
  .navbar .navbar-nav > li > a {
    border-bottom: 0px;
  }
  .navbar .navbar-nav > li > a:hover {
    background: rgba(0, 0, 0, 0.25);
  }
}

.dropdown-inverse {
  background-color: rgba(25, 25, 25, 0.92);
  border-color: #080808;
}

.dropdown-inverse > li > a {
  color: #999;
}

.dropdown-inverse > li > a:hover {
  color: #fff;
  background-color: #000;
}

.dropdown-inverse > .divider {
  background-color: #000;
}

.dropdown-inverse h4 {
  color: #fff;
}

.open > .dropdown-menu {
  -webkit-transform: translate3d(0, 0, 0) scale(1, 1);
          transform: translate3d(0, 0, 0) scale(1, 1);
  opacity: 1;
}

.open > .dropdown-menu.dropdown-inverse li a {
  color: #fff;
}

.open > .dropdown-menu li a {
  color: #000;
}

.dropdown-menu li a {
  color: #fff;
}

.dropdown-menu {
  display: block;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transform: translate3d(0, 20px, 0) scale(1, 0);
          transform: translate3d(0, 20px, 0) scale(1, 0);
  opacity: 0;
  -webkit-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out;
  -webkit-transform-origin: top;
          transform-origin: top;
}

.dropup .dropdown-menu {
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.dropup > .dropdown-menu:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: auto;
  bottom: -6px;
  left: 50%;
  border-top: 6px solid rgba(39, 45, 51, 0.9);
  border-bottom: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}

.navbar-homepage-link {
  font-size: 10px;
  color: #aaa;
  margin-left: 7px;
}

.megamenu .nav,
.megamenu .collapse,
.megamenu .dropup,
.megamenu .dropdown {
  position: static;
}

.megamenu .container, .megamenu .container-fluid {
  position: relative;
}

.megamenu .dropdown-menu {
  left: auto;
}

.megamenu .megamenu-content {
  padding: 20px 30px;
}

.megamenu .dropdown.megamenu-fw .dropdown-menu {
  left: 0px;
  right: 0px;
}

.header .rock-slider .container {
  padding-left: 50px;
  padding-right: 50px;
}

.header .header-title {
  margin-top: 0;
  margin-bottom: 20px;
}

.header .header-description {
  line-height: 1.428571429;
}

.header .header-btn {
  margin-top: 16px;
  padding-left: 32px;
  padding-right: 32px;
  position: absolute;
  right: 0;
  font-size: 1em;
  z-index: 1;
}

.header .header-btn:hover, .header .header-btn.hover {
  background: #111;
  border-color: #111;
}

.header .header-link:hover .header-square {
  -webkit-transform: scale(1.4, 1.4) !important;
          transform: scale(1.4, 1.4) !important;
}

.header-square {
  border: 1px solid #f2f2f2;
  width: 210px;
  height: 210px;
  display: block;
  position: absolute;
  right: 130px;
  top: -20px;
  z-index: 0;
  -webkit-transition: all 0.7s ease;
          transition: all 0.7s ease;
}

#rock-slider .rock-slider-progress {
  height: 2px !important;
}

#rock-slider .rock-slider-progress .rock-slider-progress-bar {
  height: 2px !important;
  background: black !important;
}

#rock-slider .rock-slider-slide .rock-slider-canvas {
  -webkit-transition: all 1.3s ease;
          transition: all 1.3s ease;
}

#rock-slider .rock-slider-slide.background-enlarge .rock-slider-canvas {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

#rock-slider .rock-slider-background-wrapper > .rock-slider-background::before {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 100;
  content: "";
  background: rgba(0, 0, 0, 0.65);
}

#products .rock-slider-pagination {
  -ms-filter: "progid:DXImageTransform@mixin Microsoft@mixin Alpha(Opacity=${iefactor})";
  filter: "alpha(opacity=(${iefactor}))";
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}

#testimonials .rock-slider-loader-wrapper {
  background: white;
}

#blog-heading {
  color: #fff;
  font-size: 1.3em;
}

#blog-heading-wrapper {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: block;
  position: absolute;
  width: 100%;
}

#blog-cover {
  background: #111;
}

#blog-cover-image {
  opacity: 0.5;
}

#blog-content {
  margin: 100px 0;
}

#blog-content #blog-title {
  margin-bottom: 50px;
}

#blog-posts hr {
  margin: 60px 0;
}

#blog-posts hr:last-child {
  display: none;
}

#blog-posts article.blog-post {
  text-align: center;
}

#blog-posts article.blog-post.blog-post-has-image {
  margin-top: 15px;
  background: #111;
}

#blog-posts article.blog-post.blog-post-has-image .blog-post-link {
  color: #fff;
}

#blog-posts article.blog-post.blog-post-has-image .blog-post-link:hover {
  text-shadow: 0px 0px 15px rgba(17, 17, 17, 0.7);
  color: #fff;
}

#blog-posts article.blog-post.blog-post-has-image .blog-post-excerpt {
  color: #ccc;
}

#blog-posts article.blog-post .blog-post-image {
  opacity: 0.6;
  position: relative;
  display: block;
  -webkit-transition: opacity 0.5s ease;
          transition: opacity 0.5s ease;
}

#blog-posts article.blog-post .blog-post-excerpt {
  margin-top: 30px;
  color: #111;
}

#blog-posts article.blog-post .blog-post-posted {
  font-size: 12px;
}

#blog-posts article.blog-post .blog-post-link {
  display: block;
  width: 100%;
  position: relative;
  color: #111;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

#blog-posts article.blog-post .blog-post-link:hover, #blog-posts article.blog-post .blog-post-link:focus, #blog-posts article.blog-post .blog-post-link:active {
  color: #E32546;
  text-decoration: none;
}

#blog-posts article.blog-post .blog-post-link:hover .blog-post-image, #blog-posts article.blog-post .blog-post-link:focus .blog-post-image, #blog-posts article.blog-post .blog-post-link:active .blog-post-image {
  opacity: 0.4;
}

#blog-posts article.blog-post .container {
  padding: 100px 0;
  position: relative;
  display: block;
}

#blog-posts article.blog-post .blog-post-title {
  font-weight: bold;
}

.heading-block {
  overflow: hidden;
  height: 400px;
}

@media screen and (max-width: 1839px) {
  .heading-block {
    height: 400px;
  }
}

@media screen and (max-width: 1199px) {
  .heading-block {
    height: 360px;
  }
}

@media screen and (max-width: 991px) {
  .heading-block {
    height: 320px;
  }
}

@media screen and (max-width: 767px) {
  .heading-block {
    height: 280px;
  }
}

@media screen and (min-width: 1840px) {
  .heading-block {
    height: 480px;
  }
}

.heading-block .heading-img {
  position: absolute;
  width: 50%;
  height: auto;
  display: block;
  top: 0;
}

.heading-block .heading-img.left {
  left: 0;
}

.heading-block .heading-img.right {
  right: 0;
}

.heading-block .heading-panel {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px 0;
}

@media screen and (max-width: 767px) {
  .heading-block .heading-description-xs {
    background: #333;
    padding: 10px;
    margin: 0 -15px;
  }
}

.divider-parent .divider {
  margin: 20px auto;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.divider-parent .divider.left {
  float: left;
  margin: 20px 0;
}

.divider-parent .divider.right {
  float: right;
  margin: 20px 0;
}

.divider-parent .divider-1 {
  height: 1px;
  width: 20px;
  display: block;
}

.divider-parent .divider-1::after, .divider-parent .divider-1::before {
  display: block;
  content: "";
  width: 0px;
  height: 1px;
  background: white;
  position: absolute;
  margin-left: 10px;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.divider-parent .divider-1::after {
  margin-top: -5px;
}

.divider-parent .divider-1::before {
  margin-top: 5px;
}

.divider-parent:hover .divider-1 {
  width: 40px;
}

.divider-parent:hover .divider-1::after, .divider-parent:hover .divider-1::before {
  margin-left: 0;
  width: 40px;
}

.divider-parent .divider-2 {
  height: 1px;
  width: 20px;
  display: block;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.divider-parent:hover .divider-2 {
  width: 40px;
  background: #E32546;
}

.feature-list h5 {
  margin-bottom: 20px;
  font-size: 20px;
}

ul.features {
  list-style: none;
  margin: 0 0 40px;
  padding: 0;
  color: #ccc;
  font-size: 15px;
}

ul.features li {
  margin-bottom: 10px;
}

ul.features li i {
  margin-right: 6px;
}

.services-wrapper {
  border-bottom: 2px solid #e5e5e5;
}

.service-column {
  -webkit-transition: background 0.7s ease;
          transition: background 0.7s ease;
  border-left: 1px solid white;
  border-right: 1px solid lightgray;
}

.service-column:hover {
  background: rgba(0, 0, 0, 0.05);
}

.service-column:last-child {
  border-right: 0px !important;
}

.service-column:first-child {
  border-left: 0px !important;
}

.service {
  padding: 40px 20px;
}

.service .service-title {
  margin-top: 0;
  margin-bottom: 0;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
  font-weight: 300;
}

.service .service-icon {
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
  margin-right: 10px;
}

.service .service-divider {
  margin: 20px auto;
  position: relative;
  display: block;
  height: 1px;
  width: 20px;
  background: #aaa;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.service:hover .service-divider {
  width: 40px;
  background: #E32546;
}

.service:hover .service-icon {
  -webkit-transform: scale(1.25) translate3d(0, -5px, 0);
          transform: scale(1.25) translate3d(0, -5px, 0);
  color: #E32546;
}

.service .service-description {
  color: #777777;
  margin-top: 0;
}

#contact-form button:focus {
  outline: none;
}

.contact-response {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0;
}

.contact-response.contact-hidden {
  visibility: hidden;
}

.contact-response .contact-wrapper {
  text-align: center;
  display: block;
  width: 100%;
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.contact-response .contact-wrapper h1 {
  margin: 0;
}

.template-list-item:hover img {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.template-list-item img {
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
  -webkit-transform: scale(1);
          transform: scale(1);
  border-radius: 5px;
  border: 1px solid #e3e3e3;
}

.template-list-item div {
  margin-top: 10px;
}

/*# sourceMappingURL=../src/maps/application/application.css.map */
