<!DOCTYPE HTML>

<html>
  <head>
    <title>Simple Benchmark</title>
  </head>
  <body>
    <h1>Page Heading</h1>
    <div id="content">
      <ul class="list">
        <li>Test 1</li>
        <li>Test 2</li>
        <li>Test 3</li>
      </ul>
    </div>
  </body>
</html>
